body,
html {
	width:100%;
	padding:0;
	margin:0;

}
.body {
	background:url(../fancybox/cardboard-bg.html) #e8cb9f 0 0 repeat;
}

/* General style definitions */
*:focus {
	outline:none;
}
table {
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {	border:none;}

.clear {
	width:100%;
	clear:both;
}
form,fieldset {
	padding:0;
	margin:0;
	border:none;
}


/* Containers */
#container {
	min-width:1200px;
	padding:20px 0 0 0;
}
#wrap {
	width:1200px;
	margin:0 auto;
}

#header {
	height:101px;
	position:relative;
}

/* Logo */
#logo {
	float:left;
	padding:5px 0;
	height:91px;
}
#logo h1 {
	color:#cc232a;
	font-size:2.25em;
	font-weight:normal;
	margin:0;
	padding:0;
	float:left;
}
#logo h1 a {
	float:left;
	height:91px;
	line-height:91px;
	padding:0 0 0 120px;
	background:url(../../fancybox/logo.png) 0 0 no-repeat;
	color:#cc232a;
	text-decoration:none !important;
}
#logo h1 a:hover {
	color:#b81219;
}

#logo h2 {
	color:#cc232a;
	font-size:2.25em;
	font-weight:normal;
	margin:0;
	padding:0;
	float:left;
}
#logo h2 a {
	float:left;
	height:91px;
	line-height:91px;
	padding:0 0 0 120px;
	background:url('../fancybox/logo.html') 0 0 no-repeat;
	color:#cc232a;
	text-decoration:none !important;
}
#logo h2 a:hover {
	color:#b81219;
}


/* Quick Navigation and Search Box in header */
#top {
	position:absolute;
	top:0;
	right:0;
	height:20px;
	width:600px;
	z-index:3;
}
#quick-nav {
	float:right;
	padding-right:30px;
	line-height:17px;
	font-size:12px;
	color:#716a60;
}
#quick-nav a {
	color:#716a60;
    color: #000033;
    text-decoration: none;
	font-weight: bold;
}
#quick-nav a:hover,
#quick-nav a:active {
	color:#716a60;
    color: #441FF9;
    text-decoration: underline;
}
#quick-nav span {
	padding:0 6px;
}
#top form {
	float:right;
	width:209px;
}
#top form input.text {
    margin: 0 5px 0 0;
    float: left;
    width:120px;
}

#top form .submit {
    border: 0 none;
    background:#000033 url(../fancybox/search.html) 2px 3px no-repeat;
    padding: 2px 6px 2px 20px;
    //padding:2px 0 2px 13px;
	height:19px;
	color: #fff;
    text-transform: lowercase;
    font-size:10px;
    float: right;
	cursor:pointer;
}
#top form .submit:hover ,
#top form .submit:active {
	background: #4c6fe0 url(../fancybox/search-go-button-on.html) 1px 2px no-repeat;
}
/* Horizontal Main Menu */
#topmenu {
	height:32px;
	line-height:32px;
	text-align:center;
	color:#3d4645;
	font-size:1.27em;
	font-weight:bold;
	font-family:arial,sans-serif;
	/*border-top:1px solid #95856e;*/
	/*border-bottom:1px solid #95856e;*/
	border:0 solid #000;
	border-width:1px 0;
}
#topmenu a {
	color:#3d4645;
	color: #003366;
	margin:0 20px;
    text-decoration:none;
}
#topmenu a:hover {
    color: #0000FF;
	text-decoration:underline;
}

a.search {
    float: right;
    line-height:18px;
    width:209px;
}
.formBtn input,
.formBtn textarea,
input.text {
    border: 1px solid #000033;
    background:#fff;
    font-size:10px;
    color:#79736a;
    padding:2px 8px;

}
.search .text {
}
.formBtn input ,
.formBtn textarea {
    width:315px;
}
#content .formBtn input ,
#content .formBtn textarea {
	font-size:12px;
	position: relative;
	top:-3px;
}
.formBtn .captcha input {
    font-family:serif;
    font-size:23px;
    letter-spacing:0.4pt;
    text-transform:uppercase;
    width:163px;

}
.formBtn .submitBTn input{
    width:auto;
    background:none repeat scroll 0 0 #847F78;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-size:1em;
    margin:0;
    padding:2px 8px;
}

/* Horizontal Main Menu */
.quick-nav {
    padding: 0 220px 0 0px;
    text-align: right;
    line-height:20px;
}
.quick-nav a ,
.quick-nav a:visited {
    color: #000033;
    font-weight:bold;
    font-size:13px;
}
.quick-nav a:hover {
	text-decoration:none;
}
.quick-nav b {
    padding: 0 3px;
}


/* Main Content Area */
#columns {
	float:left;
	width:100%;
	clear:both;
	padding:3px 0;
}
#content {
	float:left;
	width:760px;
    /*background:url(//fancybox/menu-panel-bg.jpg) 0 0 repeat;*/
}
#sidebar {
	float:right;
	width:209px;
	/*background:url(//fancybox/bg-sidebar.jpg) 0 0 repeat;/* */
	background:url(../../fancybox/menu-panel-bg.jpg) 0 0 repeat;
}


/*  ul.breadcrumb-navigation ***************** */
ul.breadcrumb-navigation {
    margin: 5px 0;
    padding: 9px 0;
    border:0 solid #000;
    border-width:1px 0;
}

ul.breadcrumb-navigation a {
    color: #233366;
    font-weight:bold;
}
/* Promo Box */
#promo {
	height:453px;
	margin-bottom:12px;
}

/* */
#content h1 {
    padding: 50px 20px 40px 40px;
    font-weight: bold;
    font-size:46px;
    color: #fff;
    margin: 0;
    background: #000033 url(../fancybox/titleBG.html) 0 0 no-repeat;
}
#content h2 {
	font-size:1.27em;
	font-weight:normal;
	height:32px;
	line-height:32px;
	color:#5b5e5e;
	padding:0 5px;
	margin:0 0 20px 0;
	border-top:1px solid #96866f;
	border-bottom:1px solid #96866f;
}
#content h3.red {
	color:#4f0404;
	font-size:15px;
	padding:0 !important;
	margin:1em 0 !important;
	font-family:arial,sans-serif;
}


/* Product Catalogue */
ul.catalog-home {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
}
ul.catalog-home li {
	float:left;
	width:180px;
	padding-right:110px;
	height:344px;
/*	color:#2f363e;/***/
	overflow:hidden;
    list-style:none;
}
ul.catalog-home li.r {
	width:180px;
	padding-right:0;
}
ul.catalog-home li h3 {
	color:#035869;
	font-size:1.27em;
	font-weight:bold;
	margin:0;
	padding:28px 0;
	padding:10px 0 28px;
}
ul.catalog-home li h3 a {
	color:#035869;
    color: #003366;
}
ul.catalog-home li p {
	padding:0;
	margin:0;
}


/* Menu in sidebar */
#sidebar-menu {
	list-style:none;
	padding:0;
	margin:0;
	font-weight:bold;
	overflow:hidden;
}
#sidebar-menu ul {
	list-style:none;
	padding:0;
	margin:0;
}
#sidebar-menu li {
	background:url(../fancybox/sidebarmenu-dot.html) 5px 10px no-repeat;
    list-style:none;
}
#sidebar-menu li a {
	font-size:12px;
	display:block;
	height:29px;
	line-height:29px;
	padding:0 13px;
	color:#e9c99d;
	background:#000034;
}
#sidebar-menu li a:hover,
#sidebar-menu li a:active {
	background:#0463ff;
	text-decoration: underline;
}
#sidebar-menu li ul a {
	font-size:11px;
	display:inline;
	height:auto;
	line-height:normal;
	padding:0;
	color:#384b79;
	background:none;
}
#sidebar-menu li ul a:hover,
#sidebar-menu li ul a:active {
	background:transparent;
	text-decoration: underline;
}
#sidebar-menu li ul li {
	padding:6px 12px 6px 18px;
}


/* Banner in Sidebar */
#banner {
	/*margin-bottom:1px;*/
	overflow:hidden;
}
#banner h2 {
	padding:0 10px;
	margin:0;
	height:30px;
	line-height:30px;
	font-size:1.63em;
	font-weight:normal;
	color:#fff;
	background:url('../fancybox/header-bg.html') #000034 0 0 no-repeat;
}

#banner img,
#banners img {
	float: left;
}
/* Dealer Login Form */
#dealer {
	clear:both;
	padding:16px 12px 30px 12px;
	background:url('../fancybox/sidebar-form-bg.html') #000034 0 100% no-repeat;
	overflow:hidden;
	color:#fff;
}
#dealer input.text {
	float:left;
	border:1px solid #cbccce;
	font-size:10px;
	color:#79736a;
	padding:2px 8px;
	width:70px;
	background:#fff;
}
#dealer input.password {
	float:right;
}
#dealer p {
	margin:0;
	padding:9px 0 0 0;
	text-align:center;
	clear:both;
}
#dealer input.btn {
	cursor:pointer;
	background:#847f78;
	font-size:1em;
	padding:2px 8px;
	margin:0;
	border:none;
	color:#fff;
}


/* Menu Below the Content */
#bottom-menu {
	height:32px;
	line-height:32px;
	height:26px;
	line-height:26px;
	text-align:center;
	color:#3d4645;
	font-size:1.27em;
	font-size:inherit;
	/*font-family:arial,sans-serif;*/
	border-top:1px solid #95856e;
	border-bottom:1px solid #95856e;
    border:0 solid #000000;
    border-width:1px 0;
	clear:both;
}
#bottom-menu a ,
#bottom-menu a:visited {
	color:#3d4645;
	margin:0 20px;
	text-decoration:underline;
	margin:0 25px;
	text-decoration:none;
    color: #000033;
}
#bottom-menu a:hover ,
#bottom-menu a:active {
	text-decoration:underline;
	color: #0000FF;
}


/* Footer */
#footer {
	padding-top:20px;
	height:65px;
	text-align:center;
	/*color:#716a60;*/
}
#footer a {
	/*color:#716a60;*/
	/*text-decoration:underline;*/
}
#footer a:hover {
	/*text-decoration:none;*/
}



#sidebar-menu li.root-item ,
#sidebar-menu li.root-item-selected {
	margin-bottom:1px;
}
#sidebar-menu li.root-item ul {
	display:none;
}
#sidebar-menu li.root-item-selected ul {
	display:block;
}
#sidebar-menu li ul li a.item-selected {
	color:#000;
}


#content .tab-switcher {
	padding:6px 0;
	margin:6px 0;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	font-size:12px;
	font-family:arial,sans-serif;
	float:left;
	width:100%;
	clear:both;
}
#content .tab-switcher ul {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
	background:url(../../fancybox/menu-panel-bg.jpg) 0 0 repeat;
	height:29px;
	line-height:29px;
}
#content .tab-switcher ul li {
	float:left;
	height:29px;
	width:24.9%;
	text-align:center;
    list-style:none;
}
#content .tab-switcher ul li a {
	color:#003366;
	color: #0000CC;
	text-decoration: underline;
}
#content .tab-switcher ul li.active a {
	font-weight:bold;
}
#content .tab-switcher ul li a:hover {
	color: #0066FF;
	text-decoration: underline;
}

#content .tab {
	display:none;
    clear: both;
}
#content .tab-active {
	display:block;
}


h3 {
	font-size:18px;
	font-weight:bold;
	margin:25px 0 12px 0;
	padding:0;
}
.pageWrapper {
    background: url(../fancybox/menu-panel-bg.html) 0 0  repeat;
    padding: 10px;
    overflow: hidden;
}
.pageWrapper ul,
ul.features {
	padding:0;
	margin:0;
	list-style:none;
}
.pageWrapper ul li{
    padding:0 0 0px 30px;
    background:url(../../fancybox/dot.gif) 13px 50% no-repeat;
    list-style:none;
}
ul.features li {
	padding:0 0 15px 30px;
	background:url(../../fancybox/dot.gif) 13px 7px no-repeat;
    list-style:none;
}
ul.features h5 {
	color:#4f0404;
	font-size:14px;
	padding:0 !important;
	margin:0 0 3px 0 !important;
}
ul.features h5 sup {
	font-size:0.55em;
}


ul.details {
    padding:10px 0;
	margin:0;
	list-style:none;
}
ul.details li {
	padding:1px 0 1px 17px;
	background:url(../../fancybox/dot.gif) 0 7px no-repeat;
    list-style:none;
}


ul.documents {
	padding:10px 0;
	margin:0;
	list-style:none;
}
ul.documents li {
	padding:0 0 7px 30px;
	background:url(../../fancybox/dot.gif) 13px 4px no-repeat;
    list-style:none;
}
ul.documents a {
	color:#003366;
}

.product-main {
	float:left;
	width:62%;
	width:470px;
    padding: 10px 0 10px 10px;
    padding: 10px 0 ;
}
.product-sidebar {
	float:right;
	width:35%;
    width:260px;
    padding: 10px 10px 10px 0;
    padding: 10px  0;
}
.contentMain h4 ,
.product-sidebar h4 {
	color:#4F0404;
	font-size:14px;
}
.product-sidebar img.r {
	float:right;
	margin-top:5px;
}
.product-sidebar small {
	font-size:0.9em;
	display:block;
	line-height:1.35;
}
.product-sidebar p.note {
	margin-top:2em;
}


.contentMain {
	/*padding:35px 0px;*/
	padding:0px 10px;
	background:url(../../fancybox/menu-panel-bg.jpg) 0 0 repeat;
	font-size:12px;
	line-height:1.35;
	clear:both;
	/*font-family:arial,sans-serif;*/
    overflow: hidden;
}
.contentMain h1 {
	padding:0 !important;
	margin:0 !important;
	border:none !important;
	font-size:22px !important;
	height:auto !important;
	line-height:normal !important;
	font-weight:bold !important;
	color:#000 !important;
}
.contentMain sup {
	font-size:0.72em;
}
.contentMain h1 sup {
	font-size:0.5em;
}
.contentMain h2 {
	padding:0 !important;
	margin:0 0 12px 0 !important;
	border:none !important;
	font-weight:normal !important;
	font-size:1.2em !important;
	color:#000 !important;
}
#content a ,
#content a:visited {
    color: #0F3569;
}

#banners {
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
#banners li {
	overflow:hidden;
}
#banners li a {
	display:block;
	overflow:hidden;
}


.twocol-set {
	float:left;
	width:100%;
	clear:both;
}
.twocol-set .col-left {
	float:left;
	width:48.5%;
}
.twocol-set .col-right {
	float:right;
	width:48.5%;
}

ul.colors2 {
    padding:10px 0;
	margin:0;
	margin-right:-3px;
	list-style:none;
	text-align:center;
	text-aligment:center;
}


ul.colors li {
	overflow:hidden;
	padding:0;
}

ul.colors li a {	display:block;	color:#003366;}

ul.colors li a img {	display:block;	margin-bottom:5px;}



ul.gallery {
    padding:10px 0;
	margin:0;
margin-right:-1px;
	list-style:none;
	float:left;
	width:100%;
}
ul.gallery li {
	float:left;
	width:49.95%;
width:50%;
	height:320px;
	overflow:hidden;
    padding:0;
    list-style:none;
}
ul.gallery li a {
	display:block;
	color:#003366;
}
ul.gallery li a img {
	display:block;
	margin-bottom:5px;
}


.search-page {

}
.search-page h3 {
    margin-bottom:5px;
    font-size:15px;
}
.search-page p {
    margin: 0;
    padding: 0;
}
.search-page .link a {
    color: #008000 !important;
}
.faq {}
.faq p {
	margin: 27px 0 27px 41px;
	width:540px;
}
.faq p.guarantee {
	font-size:14px;
	margin:1em 0;
}
.faq h3 {
	font-size:14px;
	margin: 0;
 color:#000033;
}
#content .faq h2 {
	font-size:26px;
	font-weight: bold;
	margin: 0;
	border:0 none;
	color: #000;
	margin: 20px 0;
}
.video blockquote {
	font-size:14px;
	line-height:20px;
	margin: 1em 40px;
}
.video h3 {
	font:italic bold 16px/21px Verdana, Arial, Helvetica, sans;
	margin: 27px 0;
	border:0 solid #000;
	border-width:0 0 1px;
	padding: 0 74% 15px 0;
}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 *
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

* html #fancybox-loading {	/* IE6 */
	position: absolute;
	margin-top: 0;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../fancybox/fancybox.png');
}

#fancybox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	z-index: 1100;
	display: none;
}

* html #fancybox-overlay {	/* IE6 */
	position: absolute;
	width: 100%;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox_error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 7px;
	margin: 0;
}

#fancybox-content {
	height: auto;
	width: auto;
	padding: 0;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

#fancybox-frame {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-title {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: Arial;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding: 10px 0;
	text-align: center;
	color: #333;
}

.fancybox-title-outside {
	padding-top: 5px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.fancybox-title-over {
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../fancybox/fancy_title_over.png');
	display: block;
}

#fancybox-title-wrap {
	display: inline-block;
}

#fancybox-title-wrap span {
	height: 32px;
	float: left;
}

#fancybox-title-left {
	padding-left: 15px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -90px;
	background-repeat: no-repeat;
}

#fancybox-title-main {
	font-weight: bold;
	line-height: 29px;
	background-image: url('../fancybox/fancybox-x.png');
	background-position: 0px -40px;
	color: #FFF;
}

#fancybox-title-right {
	padding-left: 15px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -55px -90px;
	background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background-image: url('../fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancy-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancy-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../fancybox/fancybox-x.png');
}

#fancy-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancy-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancy-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -182px;
}

#fancy-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancy-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancy-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../fancybox/fancybox-y.png');
}

#fancy-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../fancybox/fancybox.png');
	background-position: -40px -122px;
}

/* IE */

#fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }